<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>drag.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{343,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{343,38}}</string>
                <key>sourceSize</key>
                <string>{343,38}</string>
            </dict>
            <key>exit.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{376,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{376,38}}</string>
                <key>sourceSize</key>
                <string>{376,38}</string>
            </dict>
            <key>jump1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{173,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,38}}</string>
                <key>sourceSize</key>
                <string>{173,38}</string>
            </dict>
            <key>jump2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,42},{208,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,38}}</string>
                <key>sourceSize</key>
                <string>{208,38}</string>
            </dict>
            <key>jump3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{208,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,38}}</string>
                <key>sourceSize</key>
                <string>{208,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>font.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1346dc51103a2a872ef136ff9a42687b$</string>
            <key>textureFileName</key>
            <string>font.png</string>
        </dict>
    </dict>
</plist>
