<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bananaBuff0.png</key>
            <dict>
                <key>frame</key>
                <string>{{0, 0},{354,315}}</string>
                <key>sourceSize</key>
                <string>{354,315}</string>
            </dict> 
	    
            <key>bananaBuff1.png</key>
            <dict>
                <key>frame</key>
                <string>{{354, 0},{354,315}}</string>
                <key>sourceSize</key>
                <string>{354,315}</string>
            </dict> 
	    
            <key>bananaBuff2.png</key>
            <dict>
                <key>frame</key>
                <string>{{708, 0},{354,315}}</string>
                <key>sourceSize</key>
                <string>{354,315}</string>
            </dict> 
	    
            <key>bananaBuff3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062, 0},{354,315}}</string>
                <key>sourceSize</key>
                <string>{354,315}</string>
            </dict> 
	    
            <key>bananaBuff4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1416, 0},{354,315}}</string>
                <key>sourceSize</key>
                <string>{354,315}</string>
            </dict> 
	    
            <key>bananaBuff5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1770, 0},{354,315}}</string>
                <key>sourceSize</key>
                <string>{354,315}</string>
            </dict> 
	    
            <key>bananaBuff6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2124, 0},{354,315}}</string>
                <key>sourceSize</key>
                <string>{354,315}</string>
            </dict> 
	    
            <key>bananaBuff7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2478, 0},{354,315}}</string>
                <key>sourceSize</key>
                <string>{354,315}</string>
            </dict> 
	    
        </dict>
        
        <key>metadata</key>        
        <dict>
            <key>format</key>
            <integer>2</integer>
        </dict>
    </dict>
</plist>
