<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sleep (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{294,82},{74,94}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{74,94}}</string>
                <key>sourceSize</key>
                <string>{100,96}</string>
            </dict>
            <key>sleep (10).png</key>
            <dict>
                <key>frame</key>
                <string>{{366,160},{78,86}}</string>
                <key>offset</key>
                <string>{-11,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{78,86}}</string>
                <key>sourceSize</key>
                <string>{100,96}</string>
            </dict>
            <key>sleep (11).png</key>
            <dict>
                <key>frame</key>
                <string>{{92,172},{74,84}}</string>
                <key>offset</key>
                <string>{-8,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,11},{74,84}}</string>
                <key>sourceSize</key>
                <string>{100,96}</string>
            </dict>
            <key>sleep (12).png</key>
            <dict>
                <key>frame</key>
                <string>{{178,172},{72,84}}</string>
                <key>offset</key>
                <string>{-6,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,11},{72,84}}</string>
                <key>sourceSize</key>
                <string>{100,96}</string>
            </dict>
            <key>sleep (13).png</key>
            <dict>
                <key>frame</key>
                <string>{{262,320},{74,82}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,13},{74,82}}</string>
                <key>sourceSize</key>
                <string>{100,96}</string>
            </dict>
            <key>sleep (14).png</key>
            <dict>
                <key>frame</key>
                <string>{{432,318},{76,82}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,13},{76,82}}</string>
                <key>sourceSize</key>
                <string>{100,96}</string>
            </dict>
            <key>sleep (15).png</key>
            <dict>
                <key>frame</key>
                <string>{{278,158},{86,82}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,13},{86,82}}</string>
                <key>sourceSize</key>
                <string>{100,96}</string>
            </dict>
            <key>sleep (16).png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{94,90}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{94,90}}</string>
                <key>sourceSize</key>
                <string>{100,96}</string>
            </dict>
            <key>sleep (17).png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{96,90}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{96,90}}</string>
                <key>sourceSize</key>
                <string>{100,96}</string>
            </dict>
            <key>sleep (18).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,90}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{96,90}}</string>
                <key>sourceSize</key>
                <string>{100,96}</string>
            </dict>
            <key>sleep (19).png</key>
            <dict>
                <key>frame</key>
                <string>{{348,318},{76,82}}</string>
                <key>offset</key>
                <string>{-7,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,13},{76,82}}</string>
                <key>sourceSize</key>
                <string>{100,96}</string>
            </dict>
            <key>sleep (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{74,92}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{74,92}}</string>
                <key>sourceSize</key>
                <string>{100,96}</string>
            </dict>
            <key>sleep (20).png</key>
            <dict>
                <key>frame</key>
                <string>{{178,246},{76,82}}</string>
                <key>offset</key>
                <string>{-6,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,13},{76,82}}</string>
                <key>sourceSize</key>
                <string>{100,96}</string>
            </dict>
            <key>sleep (21).png</key>
            <dict>
                <key>frame</key>
                <string>{{264,242},{76,82}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,13},{76,82}}</string>
                <key>sourceSize</key>
                <string>{100,96}</string>
            </dict>
            <key>sleep (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{96,94},{76,90}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{76,90}}</string>
                <key>sourceSize</key>
                <string>{100,96}</string>
            </dict>
            <key>sleep (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{188,94},{76,88}}</string>
                <key>offset</key>
                <string>{-11,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,7},{76,88}}</string>
                <key>sourceSize</key>
                <string>{100,96}</string>
            </dict>
            <key>sleep (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{366,240},{76,86}}</string>
                <key>offset</key>
                <string>{-11,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,9},{76,86}}</string>
                <key>sourceSize</key>
                <string>{100,96}</string>
            </dict>
            <key>sleep (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{76,88}}</string>
                <key>offset</key>
                <string>{-11,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,7},{76,88}}</string>
                <key>sourceSize</key>
                <string>{100,96}</string>
            </dict>
            <key>sleep (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{390,2},{78,94}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{78,94}}</string>
                <key>sourceSize</key>
                <string>{100,96}</string>
            </dict>
            <key>sleep (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{390,82},{76,92}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{76,92}}</string>
                <key>sourceSize</key>
                <string>{100,96}</string>
            </dict>
            <key>sleep (9).png</key>
            <dict>
                <key>frame</key>
                <string>{{294,2},{78,94}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{78,94}}</string>
                <key>sourceSize</key>
                <string>{100,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sleep.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2ace17e511505ddb6fac3ee81aea722a$</string>
            <key>textureFileName</key>
            <string>sleep.png</string>
        </dict>
    </dict>
</plist>
