<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spliteLine0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,123}}</string>
                <key>sourceSize</key>
                <string>{640,123}</string>
            </dict>
            <key>spliteLine1.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{640,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,123}}</string>
                <key>sourceSize</key>
                <string>{640,123}</string>
            </dict>
            <key>spliteLine2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,127},{640,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,123}}</string>
                <key>sourceSize</key>
                <string>{640,123}</string>
            </dict>
            <key>spliteLine3.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,127},{640,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,123}}</string>
                <key>sourceSize</key>
                <string>{640,123}</string>
            </dict>
            <key>spliteLine4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{640,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,123}}</string>
                <key>sourceSize</key>
                <string>{640,123}</string>
            </dict>
            <key>spliteLine5.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,252},{640,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,123}}</string>
                <key>sourceSize</key>
                <string>{640,123}</string>
            </dict>
            <key>spliteLine6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,377},{640,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,123}}</string>
                <key>sourceSize</key>
                <string>{640,123}</string>
            </dict>
            <key>spliteLine7.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,377},{640,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,123}}</string>
                <key>sourceSize</key>
                <string>{640,123}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>SpliteLine.png</string>
            <key>size</key>
            <string>{1286,502}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:daf626a2c8d141035b956b9b91a49c30:27914b47f60d7347d45d70de7b1ac7dd:51434d8d192321af283a263a64c8485e$</string>
            <key>textureFileName</key>
            <string>SpliteLine.png</string>
        </dict>
    </dict>
</plist>
