<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TileNode0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{73,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,74}}</string>
                <key>sourceSize</key>
                <string>{73,74}</string>
            </dict>
            <key>TileNode1.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,2},{73,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,74}}</string>
                <key>sourceSize</key>
                <string>{73,74}</string>
            </dict>
            <key>TileNode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{73,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,74}}</string>
                <key>sourceSize</key>
                <string>{73,74}</string>
            </dict>
            <key>TileNode3.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,2},{73,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,74}}</string>
                <key>sourceSize</key>
                <string>{73,74}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TileNodes.png</string>
            <key>size</key>
            <string>{302,78}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:66763be9f8308bf3f4b0169a864bcbb5:85082a90cf61bd2e5b92a3680a472519:14789f2d2ef186cb87728e1a65452497$</string>
            <key>textureFileName</key>
            <string>TileNodes.png</string>
        </dict>
    </dict>
</plist>
