<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BestScoreBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,100},{372,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,111}}</string>
                <key>sourceSize</key>
                <string>{372,111}</string>
            </dict>
            <key>BestScoreText.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{203,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,55}}</string>
                <key>sourceSize</key>
                <string>{203,55}</string>
            </dict>
            <key>CurrentScoreBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,100},{460,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{460,133}}</string>
                <key>sourceSize</key>
                <string>{460,133}</string>
            </dict>
            <key>CurrentScoreText.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,2},{296,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,76}}</string>
                <key>sourceSize</key>
                <string>{296,76}</string>
            </dict>
            <key>GameOverBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,235},{541,780}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{541,780}}</string>
                <key>sourceSize</key>
                <string>{541,780}</string>
            </dict>
            <key>Restart.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,235},{216,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,216}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>finish.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,235},{216,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,216}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>show.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,2},{228,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,96}}</string>
                <key>sourceSize</key>
                <string>{228,96}</string>
            </dict>
            <key>sound_btn_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{228,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,100}}</string>
                <key>sourceSize</key>
                <string>{228,100}</string>
            </dict>
            <key>sound_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,2},{226,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,95}}</string>
                <key>sourceSize</key>
                <string>{226,95}</string>
            </dict>
            <key>sound_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,2},{228,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,96}}</string>
                <key>sourceSize</key>
                <string>{228,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GameOverLayerRes.png</string>
            <key>size</key>
            <string>{1193,1017}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2460e8d23d6aa6f89d5b69de19ad58ba:1d94506c608ef6c4e2963eb332538a0f:3ec81ec3aa2851b0689b644e27a53d2d$</string>
            <key>textureFileName</key>
            <string>GameOverLayerRes.png</string>
        </dict>
    </dict>
</plist>
