.login_after {
  position: absolute;
  height: 100%;
  width: 100%;
  max-width: 640px;
  margin: auto;
  top: 0px;
  left: 0px;
  right: 0px;
  background-image: url(../img/bgpic.png);
  background-size: cover;
}
.login_after .login_after_footer {
  margin: 4.3rem auto 0 auto;
  width: 90%;
  max-width: 640px;
}
.login_after .login_after_footer .login_account {
  width: 100%;
  height: 2.23rem;
  padding: .22rem .4rem;
  background: url(../img/infobg2.png) no-repeat;
  background-size: 100% 100%;
  background-position: 50% 40%;
}
.login_after .login_after_footer .login_account .account_label {
  display: inline-block;
  vertical-align: middle;
  width: 20%;
  text-align: left;
  font-size: .34rem;
  color: #fff;
}
.login_after .login_after_footer .login_account .account_input {
  color: #fff;
  width: 76%;
  font-size: .2rem;
  height: .4rem;
  padding: 4px 6px;
  background: #102439;
  border: 1px solid #8c9eb3;
  border-radius: 0;
  outline: 0;
  -webkit-appearance: none;
}
.login_after .login_after_footer .login_account .account_res {
  text-align: center;
  color: #fff;
  float: right;
  font-size: .12rem;
  vertical-align: middle;
  display: inline-block;
  width: 1.10rem;
  height: .4rem;
  line-height: .4rem;
  background: url(../img/icon_bg.png) no-repeat;
  background-size: 1.03rem .4rem;
}
.login_after .login_after_footer .login_account .acount_text {
  color: #fff;
  padding-left: .1rem;
  font-size: .2rem;
  overflow: hidden;
  line-height: .4rem;
}
.login_after .login_after_footer .login_account .mt {
  margin-top: .2rem;
}
.login_after .login_after_footer .account_icon {
  margin-top: .2rem;
  padding: 0 .3rem;
}
.login_after .login_after_footer .account_icon .icon_login,
.login_after .login_after_footer .account_icon .icon_res {
  display: inline-block;
  width: 1.69rem;
  height: .62rem;
  overflow: hidden;
}
.login_after .login_after_footer .account_icon .icon_login {
  float: left;
  background: url(../img/login_btn.png);
  background-size: 1.69rem .62rem;
}
.login_after .login_after_footer .account_icon .icon_res {
  float: right;
  background: url(../img/res_btn.png);
  background-size: 1.69rem .62rem;
}
.login_after .login_after_footer .phone_succ {
  margin: 4.3rem auto 0 auto;
  width: 90%;
  max-width: 640px;
}
.login_after .login_after_footer .phone_succ .succ_text {
  width: 100%;
  height: 2rem;
  padding: .27rem .25rem;
  background: url(../img/infobg.png) no-repeat;
  background-size: 100% 100%;
  background-position: 50% 40%;
}
.login_after .login_after_footer .phone_succ .succ_text .succ_title {
  padding-top: .2rem;
  text-align: center;
  color: #fff;
  font-size: .35rem;
  font-weight: 400;
}
.login_after .login_after_footer .phone_succ .succ_text .text_tipsout {
  font-size: .22rem;
  margin-top: .2rem;
  text-align: center;
}
.login_after .login_after_footer .phone_login {
  width: 100%;
  height: 2.22rem;
  padding: .50rem .25rem;
  background: url(../img/infobg.png) no-repeat;
  background-size: 100% 100%;
  background-position: 50% 40%;
}
.login_after .login_after_footer .phone_login .phone_mess .phone_number .phone_label {
  display: inline-block;
  vertical-align: middle;
  width: 26%;
  text-align: right;
  font-size: .34rem;
  color: #fff;
}
.login_after .login_after_footer .phone_login .phone_mess .phone_number .phone_input {
  color: #fff;
  width: 48%;
  font-size: .2rem;
  height: .4rem;
  padding: 4px 6px;
  background: #102439;
  border: 1px solid #8c9eb3;
  border-radius: 0;
  outline: 0;
  -webkit-appearance: none;
}
.login_after .login_after_footer .phone_login .phone_mess .phone_number .phone_check {
  text-align: center;
  color: #fff;
  font-size: .12rem;
  vertical-align: middle;
  display: inline-block;
  width: 1.10rem;
  height: .4rem;
  line-height: .4rem;
  outline:none;
  border:0;
  background: url(../img/icon_bg.png) no-repeat;
  background-size: 1.03rem .4rem;
}
.login_after .login_after_footer .phone_login .phone_mess .mt {
  margin-top: .2rem;
}
.login_after .login_after_footer .phone_login .phone_icon {
  padding: .3rem .34rem 0;
  margin-top: .6rem;
}
.login_after .login_after_footer .phone_login .phone_icon .icon_yes,
.login_after .login_after_footer .phone_login .phone_icon .icon_back {
  display: inline-block;
  width: 1.69rem;
  height: .62rem;
  overflow: hidden;
}
.login_after .login_after_footer .phone_login .phone_icon .icon_yes {
  float: left;
  background: url(../img/confirm.png);
  background-size: 1.69rem .62rem;
}
.login_after .login_after_footer .phone_login .phone_icon .icon_back {
  float: right;
  background: url(../img/back.png);
  background-size: 1.69rem .62rem;
}
