.wan {
  position: absolute;
  height: 100%;
  width: 100%;
  max-width: 640px;
  margin: auto;
  top: 0px;
  left: 0px;
  right: 0px;
  background-image: url(../img/bgpic.png);
  background-size: cover;
}
.wan_succ {
  margin: 4.4rem auto 0 auto;
  width: 90%;
  max-width: 640px;
}
.wan_succ .wan_text {
  width: 100%;
  height: 2rem;
  padding: .27rem .25rem;
  background: url(../img/infobg.png) no-repeat;
  background-size: 100% 100%;
  background-position: 50% 40%;
}
.wan_succ .wan_text .wan_title {
  padding-top: .2rem;
  text-align: center;
  color: #fff;
  font-size: .35rem;
  font-weight: 400;
}
.wan_succ .wan_text .wan_tipsout {
  font-size: .22rem;
  margin-top: .2rem;
  text-align: center;
}