<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>banana0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{230,176}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,176}}</string>
                <key>sourceSize</key>
                <string>{230,182}</string>
            </dict>
            <key>banana1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{206,126}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,21},{206,126}}</string>
                <key>sourceSize</key>
                <string>{230,182}</string>
            </dict>
            <key>banana2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{230,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,182}}</string>
                <key>sourceSize</key>
                <string>{230,182}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>banana.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ffb826e3c710a47b11fb15f2c1fe0be1$</string>
            <key>textureFileName</key>
            <string>banana.png</string>
        </dict>
    </dict>
</plist>
