<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>play.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,540},{416,176}}</string>
                <key>offset</key>
                <string>{12,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,4},{416,176}}</string>
                <key>sourceSize</key>
                <string>{456,180}</string>
            </dict>
            <key>play0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{448,176}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{448,176}}</string>
                <key>sourceSize</key>
                <string>{456,180}</string>
            </dict>
            <key>play1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{438,176}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{438,176}}</string>
                <key>sourceSize</key>
                <string>{456,180}</string>
            </dict>
            <key>play2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{426,180}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{426,180}}</string>
                <key>sourceSize</key>
                <string>{456,180}</string>
            </dict>
            <key>shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,540},{177,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,118}}</string>
                <key>sourceSize</key>
                <string>{177,118}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>play.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2e5262b73126bfd57bb552884b4c9485$</string>
            <key>textureFileName</key>
            <string>play.png</string>
        </dict>
    </dict>
</plist>
